/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.header {
  .navbar {
    min-height: 64px;
    background: transparent url('../img/noise.png') repeat; /*IE fix*/
    background: rgba(0, 0, 0, 0.70) url('../img/noise.png') repeat;
  }

  .logo {
    font-size: 24px;
    color: white;
  }
  .demo {
    color: yellow;
    font-size: 14px;
    font-family: cursive;
  }

  .lastitem {
    width: 100px;
  }

  a {
    cursor: pointer;
  }
}

.content {
  margin-top: 88px;
}

.discovered-auctions {
  li {
    list-style: none;
  }
}

.bidder-0 {
  text-align: center;
  font-size: 24px;
  a {
    background-color: rgba(240, 240, 200, 1);
  }
}

.bidder-winner {
  text-align: center;
  font-size: 24px;

  a {
    background-color: rgba(0, 0, 0, 1);  
  }
  
}

.timer {
  height: 32px;
  overflow: hidden;
}

.count {
  float: left;

  &.once {
    background-color: blue;  
  }

  &.twice {
    background-color: green;  
  }

  &.final {
    background-color: red;  
  }

  &.verify {
    background-color: navy;
  }
}

.control-buttons {
  min-height: 70px;
}

// Animation
.animate-enter, 
.animate-leave
{ 
  -webkit-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
} 

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  width: 150px;
  height: 30px;
}