/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.header {
  border-bottom: 1px solid black ;
  margin-bottom: 12px;
}

.login-top {
  margin-top: 24px;
}

.balance {
  margin-top: 24px; 
}

.bidder-0 {
  text-align: center;
  font-size: 24px;
  background-color: rgba(240, 240, 200, 1);
}

.count-once {
  background-color: blue;
}

.count-twice {
  background-color: green;
}

.count-final {
  background-color: red;
}

.count-verify {
  //background-color: red;
}

.count-defaut {
  background-color: navy;
}

// Animation
.animate-enter, 
.animate-leave
{ 
  -webkit-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: clip;
  white-space:nowrap;
} 

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  width: 150px;
  height: 30px;
}