/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.header {
  border-bottom: 1px solid black ;
  margin-bottom: 12px;
}

.login-top {
  margin-top: 24px;
}

.balance {
  margin-top: 24px; 
}

.bidder-0 {
  color: red;
}

.count-once {
  background-color: blue;
}

.count-twice {
  background-color: green;
}

.count-final {
  background-color: red;
}

.count-verify {
  //background-color: red;
}

.count-defaut {
  background-color: navy;
}