<div ng-controller="AuctionController">
  <div class="row">
    <div class="col-lg-10">
      <div class="thumbnail">
        <img ng-src="http://www.flightcentre.ca/images/info_headers/giftcards.jpg" alt="Gift Card">
        <div class="caption">
          <h3>{{auction.name}}</h3>
          <p>Enjoy travelling with Flight Center</p>
          <p ng-hide="auctionFinished || auction.status == 'FINISHED'" ng-class="displayCount(timeLeft)">
              <h3>
                <span ng-class="pull-left">{{timeLeft | readableTime}}</span>
                <span class="pull-right">{{auction.price | currency}}</span>
              </h3>
          </p>
          <p>
            <h3 ng-show="winner"><span class="label label-success">Winner: {{winner}}</span></h3>
          </p>

          <p>
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="bidder in biddingHistory" class="bidder-{{$index}}">
                  <a href="#">Winning: {{bidder.username}} </a>
                </li>
            </ul>
          </p>

          <p ng-hide="auctionFinished || auction.status == 'FINISHED'">
            <button ng-show="!isZeroOrNegativeBallance()" class="btn btn-primary" ng-click="bid()">Place Bid</button>
            <button ng-show="!isUserLoggedIn()" class="btn btn-primary" ng-click="">Sign in to Bid</button>
            <button ng-show="isZeroOrNegativeBallance()" class="btn btn-primary" ng-click="">Buy more tokens</button>
          </p>
          <p ng-show="isAdminLoggedIn() && (auction.status == 'FINISHED' || auction.status == 'STARTED')">
            <button ng-click="resetTimer()">Reset Timer</button>
            <input type="number" ng-model="resetSeconds"/>
          </p>
        </div>
      </div>
    </div>
  </div>
















<!--
    <div ng-show="isAdminLoggedIn() && (auction.status == 'FINISHED' || auction.status == 'STARTED')">
      <button ng-click="resetTimer()">Reset Timer</button>
      <input type="number" ng-model="resetSeconds"/>
    </div>
  	<h1>{{displayCountClass}}</h1>
  	<div ng-hide="auctionFinished || auction.status == 'FINISHED'" ng-class="displayCount(timeLeft)">
      <h3>{{timeLeft | readableTime}}</h3>
  	</div>
    <h3 ng-show="winner"><span class="label label-success">Winner: {{winner}}</span></h3>
  	<p>Price: {{auction.price | currency}}</p>
    <div ng-hide="auctionFinished || auction.status == 'FINISHED'">
      <button ng-show="!isZeroOrNegativeBallance()" class="btn btn-primary" ng-click="bid()">Bid</button>
      <button ng-show="!isUserLoggedIn()" class="btn btn-primary" ng-click="">Sign in to Bid</button>
      <button ng-show="isZeroOrNegativeBallance()" class="btn btn-primary" ng-click="">Buy more tokens</button>
    </div>

  	<div>
      <ul class="nav nav-pills nav-stacked">
          <li ng-animate="'animate'" ng-repeat="bidder in biddingHistory" class="bidder-{{$index}}">
            <a href="#"> {{bidder.username}} </a>
          </li> 
      </ul>
  	</div>

-->
</div>