<div ng-controller="LoginController" ng-cloak>
	<div ng-switch on="!authUser">
		<div ng-switch-when="false">
			<!-- Single button -->
			<div class="btn-group">
			  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
			    {{authUser.name}} <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			    <li><a ng-click="logout()">Logout</a></li>
			  </ul>
			</div>			
		</div>

		<div ng-switch-default>
			<button class="btn btn-primary" ng-click="login('facebook')">Sign In</button>
		</div>
	</div>
</div>